<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Build a Thing Video App</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <header class="bg-pink-600 p-2 flex flex-row justify-center">
        <div id="publishers"></div>
      </header>
      <main style="display: grid; grid-template-columns: auto 300px; gap: 2em;">
        <div class="p-2">
          <div id="subscribers" class="flex flex-row flex-wrap" style="gap: 8px;"></div>
        </div>
        <div class="bg-gray-100 p-2 flex flex-col" style="height: calc(100vh - 88px)">
          <form class="border-b-2 border-gray-300 pb-2" @submit.prevent="lockRoom">
            <input :class="{ 'bg-gray-300': roomLocked, 'bg-white': !roomLocked }" class="w-full shadow appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" id="access-code" placeholder="Access Code" :disabled="roomLocked" v-model="inputAccessCode"  />
            <button id="lock-button" :class="{ 'bg-red-500': roomLocked, 'hover:bg-red-700': roomLocked, 'bg-green-500': !roomLocked, 'hover:bg-green-700': !roomLocked, }" class="w-full text-white font-bold py-2 px-4 rounded">{{ roomLocked ? "Click to Unlock" : "Click to Lock" }}</button>
          </form>
          <div ref="messages" class="flex-1 overflow-y-scroll">
            <ul>
              <li v-for="item in messages" class="bg-white p-2 rounded break-all my-2">
                <label class="text-sm mb-1">{{item.username}}</label>
                <div>{{item.message}}</div>
              </li>
            </ul>
          </div>
          <form class="border-t-2 border-gray-300 pt-2" @submit.prevent="submitMessage">
            <input class="bg-white w-full shadow appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" id="message" placeholder="New Message..." v-model="newMessage" />
            <button class="bg-pink-600 w-full text-white font-bold py-2 px-4 rounded">Send</button>
          </form>
        </div>
      </main>
    </div>

    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          session: undefined,
          camera: undefined,
          subscribers: [],
          roomLocked: false,
          resp: undefined,
          inputAccessCode: '',
          messages: [],
          newMessage: ''
        },
        async created() {
          this.resp = await fetch(`/api/session?room=${this.params.id}&code=${this.params.code}`).then(r => r.json())
          const { apiKey, sessionId, token, locked, access } = this.resp
          if(!access) window.location.replace(`/access-required?id=${this.params.id}&username=${this.params.username}`)

          this.camera = OT.initPublisher('publishers', {
            mirror: false,
            name: this.params.username,
            insertMode: 'append',
            width: 128,
            height: 72
          })
          this.roomLocked = locked
          this.setLock(this.roomLocked,(this.params.code ? this.params.code : ""))

          this._initSession(apiKey, sessionId, token)
          this._subscribeStreamCreated()
          this._subscribeStreamDestroyed()
          this._subscribeSignal()
        },
        methods: {
          _initSession(apiKey, sessionId, token) {
            this.session = OT.initSession(apiKey, sessionId)
            this.session.connect(token, () => { this.session.publish(this.camera) })
          },
          _subscribeStreamCreated() {
            this.session.on('streamCreated', event => {
              this.subscribers.push(event.stream)
              this.session.subscribe(event.stream, 'subscribers', {
                insertMode: 'append',
                width: 320,
                height: 240
              })
            })
          },
          _subscribeStreamDestroyed() {
            this.session.on('streamDestroyed', event => {
              this.subscribers = this.subscribers.filter(sub => sub.id != event.stream.id)
            })
          },
          _subscribeSignal() {
            this.session.on('signal', event => {
              switch (event.type) {
                case 'signal:message':
                  this.messages.push(JSON.parse(event.data))
                  Vue.nextTick(() => {
                    const messages = this.$refs.messages;
                    messages.scrollTop = messages.scrollHeight
                  })
                  break
                case 'signal:lock':
                  const lockData = JSON.parse(event.data)
                  this.setLock(lockData.lock,lockData.code)
                  break
              }
            })
          },
          setLock(locked, code) {
            this.inputAccessCode = code
            this.roomLocked = locked
          },
          submitMessage() {
            if(this.newMessage) {
              const chatname = this.params.username.split(" - ")[0]
              this.session.signal({
                data: JSON.stringify({username: chatname, message: this.newMessage }),
                type: 'message'
              })
              this.newMessage = ''
            }
          },
          async lockRoom() {
            const { apiKey, sessionId, token, locked } = await fetch(`/api/session?room=${this.params.id}&lock=${!this.roomLocked}&code=${this.inputAccessCode}`).then(r => r.json())
            this.roomLocked = locked
            this.session.signal({
              data: JSON.stringify({lock: locked, code: this.inputAccessCode }),
              type: 'lock'
            })
            this.setLock(this.roomLocked, this.inputAccessCode)
          }
        },
        computed: {
          params() {
            return Object.fromEntries(new URLSearchParams(location.search));
          }
        }
      })
    </script>
  </body>
</html>
